<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLSchemes</key>
	<string>kakao653216cf</string>
	<key>KMAuthKey</key>
	<string>653216cff32758398d4fdcf80225c8bc</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>MBC 1961 OTF M.otf</string>
		<string>TitanOne-Regular.ttf</string>
		<string>Pretendard-Black.otf</string>
		<string>Pretendard-Bold.otf</string>
		<string>Pretendard-ExtraBold.otf</string>
		<string>Pretendard-ExtraLight.otf</string>
		<string>Pretendard-Light.otf</string>
		<string>Pretendard-Medium.otf</string>
		<string>Pretendard-Regular.otf</string>
		<string>Pretendard-SemiBold.otf</string>
		<string>Pretendard-Thin.otf</string>
	</array>
</dict>
</plist>
